@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  border: 3px dashed #00bafc;
  /* padding: 4px; */
}

img {
  object-fit: cover;
  display: flex;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.global-btn {
  padding: 8px 16px;
  background-color: #00bafc;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
}

/* HEADER STYLES START */

.header-container {
  display: flex;
  align-items: center;
}

.header {
  box-shadow: 0px 4px 20px 0px #0000001a;
}
.sitelogo-link {
  display: block;
  margin-right: auto;
}
.sitelogo {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 40%;
  }
}
.sitenav-list {
  display: flex;
  align-items: center;
  justify-content: start;
}
.sitenav-item {
  padding: 16px 16px;
  gap: 10px;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom-color: #000000;
  }

  &:active {
    background-color: rgba(25, 25, 25, 0.7);
    color: #ffffff;
  }
}
.sitenav-item-link {
  color: #000000;
  font-size: 15px;
}
.header-btn {
  border: 3px solid transparent;

  &:hover {
    background-color: #ffffff;
    color: #00bafc;
    border-color: #00bafc;
  }

  &:active {
    background-color: #00bafc;
    color: #ffffff;
    border-color: #00bafc;
    opacity: 60%;
  }
}

/* HEADER STYLES END */

/* MAIN STYLES START */

/* MAIN STYLES END */

/* FOOTER STYLES START */

.footer {
  padding-bottom: 56px;
  padding-top: 56px;
  background-color: #191919;
  color: #fff;
}
.footer-container {
  display: flex;
  align-items: flex-start;
}

.footer-info {
  width: 320px;
  margin-right: 100px;
}

.footer-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
}

.footer-info-description {
  font-weight: 400;
}

.footer-nav {
  margin-right: 87px;
}

.footer-nav-item {
  margin-bottom: 8px;
}

.footer-nav-link {
  color: #fff;
}

.footer-social-item {
  margin-bottom: 8px;
}

.footer-social-link {
  display: flex;
  gap: 8px;
  color: #fff;
  font-weight: 400;
}

/* FOOTER STYLES END */
